<header>
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<div class="logo">
					<%= link_to (image_tag 'logo-m.png'), root_path %>
				</div>
			</div>
			<div class="col-lg-10">
				<div class="menu">
					<ul>
						<li><%= link_to 'Головна', root_path %></li>
						<li><%= link_to 'Каталог товарів', categories_path %></li>
						<li><%= link_to 'Партнерство', cooperation_path %></li>
						<li><%= link_to 'Мото-новини', posts_path %></li>
						<% if @cart == nil %>
						<li class="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <%= link_to '0 товарів', categories_path %></li>

						<% else %>
						<li class="cart" onclick="location.href='<%= cart_path(@cart) %>'" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> <%= (@cart.total_quantity) %> 
							<% if @cart.total_quantity == 1 %>
							товар
							<% else %>
							товарів
							<% end %>
						</li>
						<% end %>
						<li>
							<%= form_for @search do |f| %>
							<%= f.text_field :keywords, placeholder: ' Наприклад: Лампочка', data: { autocomplete_source: Item.order(:title).map(&:title)}   %>
							<%= f.submit '', id: 'lupa' %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>