  <%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Ваше ПІБ ', label: false, required: true %>
    <%= f.input :phone, placeholder: 'Номер телефону ', label: false, required: true %>
    <%= f.input :adress, placeholder: 'Адреса доставки замовлення (Київ, відділення НП 2)', label: false, required: true %>
    <%= f.input :email, placeholder: 'motoprostir@gmail.com', label: false %>
    <%= f.select :pay_type, options_for_select([["Наложений платіж", "Наложений платіж"],["Оплата на картку (Приват Банк)", "Оплата на картку (Приват Банк)"]]) %>

    <% if admin_signed_in? %>
    <%= f.select :status, options_for_select([["Oбробка", "process"],["Оплачено", "Paid"],["Відмова", "Cancel"]]) %>
    <% end %>
  </div>


  <% @cart.line_products.each do |line_product| %>
  <%= link_to truncate(line_product.item.title, length: 50), line_product.item, title: line_product.item.title %>

  <% end %>



  <div class="center">
    <div class="form-actions">
      <%= f.button :submit, value: 'Оформити замовлення', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>