<% content_for :head do %>
<title>Магазин мото-аксесуарів MOTOPROSTIR | Україна</title>

<meta name="description" content="We are motoprostir!" />
<meta name="keywords" content= "We are motoprostir!" />
<meta property="og:image" content="#" />

<meta property="og:site_name" content="motoprostir.com.ua | Придбати мото аксесуари: ціна, відуги, продаж.">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Прагнемо до революційних змін. Від маленького магазину аксесуарів до мотопорталу MOTOPROSTIR UKRAINE">
<meta property="og:image" content="http://motoprostir.com.ua/assets/logo-m-76831c3b6528fc0d5d2dc2e2584ef1037ad03517f24dea8b9aea9425d0d7b5ea.png">
<meta property="og:type" content="website">
<% end %>

<div class="main-items">
	<div class="banner1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-trigger">
						<h2>Будь завжди готовий до</h2>
						<h1>подорожі на двоколісному</h1>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>
<div class="hots">
	<div class="container-fluid">
		<div class="row">
			<% @items.where(onmain: true).order(created_at: :asc).last(6).each do |item| %>
			<div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
				<div class="item-info">
					<%= link_to (image_tag item.avatar.url(:medium), alt: item.title, title: item.title), item, title: item.title %>
					<% if item.publish == 1 %>
					<span class="hot-main">Новинка</span>
					<% elsif item.publish == 2 %>
					<span class="discount-main">Акція</span>
					<% elsif item.publish == 3 %>
					<span class="sale-main">Топ</span>
					<% end %>
					<p class="item-title"><%= link_to truncate(item.title, length: 34), item, title: item.title %></p>

					<% if item.quantity == 0 %>
					<p class="item-quantity-none" title="(10-14 днів)">Під замовлення</p>
					<% elsif item.quantity < 3 %>
					<p class="item-quantity-one">Закінчується</p>
					<% elsif item.quantity >= 3 %>
					<p class="item-quantity-two">В наявності</p>
					<% end %>
					<p class="item-price">Ціна: <%= item.price %> грн</p>
					<%= link_to "Переглянути", item, class: "btn btn-warning"%>
					<%# button_to 'Додати до кошика', line_products_path(item_id: item), class: 'btn btn-warning' %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>
<div class="post-to">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h4><span>Будь в курсі наших останніх новинок</span></h4>
				<p><span>Слідкуй за блогом, сторінками в Facebook та Instagram, звісно, якщо тобі цікаво що далі..</span></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="trigger-center">
		<h3>Команда MotoProstir в соціальних мережах:</h3>
	</div>
	<div class="row">
		<div class="col-lg-6 col-xs-12">
			<%= render 'components/social' %>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="autoplay">
				
				<% @posts.each do |post| %>
				<div class="row">
					<div class="col-lg-12">
						<%= link_to (image_tag post.avatar.url), post %>
						<p class="post-title"><%= link_to post.title, post %></p>
						<p><%= truncate(post.body, length: 360) %></p>
						<p>
							Опубліковано: <%= post.datetime.strftime("%d.%m.%Y") %> | 
							<i class="fa fa-eye" aria-hidden="true"></i> <%= "#{post.impressionist_count + 20} перегляди"%>
						</p>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= render 'components/footer' %>
<script>
	$('.autoplay').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 3000,
		arrows: false,
	});
</script>