<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Ryan, there is a new comment on the post:</p> 

	<p>
		<strong>Name:</strong>
		<%= @order.name %>
	</p>

	<p>
		<strong>phone:</strong>
		<%= @order.phone %>
	</p>

	<p>
		<strong>Adress:</strong>
		<%= @order.adress %>
	</p>

	<p>
		<strong>Email:</strong>
		<%= @order.email %>
	</p>

	<p>
		<strong>Pay type:</strong>
		<%= @order.pay_type %>
	</p>

	<% @cart.line_products.each do |line_product| %>
	<%= link_to truncate(line_product.item.title, length: 50), line_product.item, title: line_product.item.title %>

	<% end %>



</body>
</html>