<%= form_with(model: item, local: true) do |form| %>
<% if item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-center">

        <div class="field">
          Назва товару:
          <%= form.text_field :title, id: :item_title, required: true %>
        </div>

        <div class="field">
          Категорія товару:
          <br>
          <%= form.collection_select :category_id, Category.where(@category_id), :id, :title %>
        </div>

        <div class="field">
          SKU
          <%= form.text_field :sku, id: :item_sku, required: true %>
        </div>

        <div class="field">
          Основні характеристики:
          <%= form.text_area :body, id: :item_body %>
        </div>

        <div class="field">
          Детальний опис товару:
          <%= form.label :description %>
          <%= form.text_area :description, id: :item_description %>
        </div>

        <div class="field">
          <%= form.label :slug %>
          <%= form.text_field :slug, id: :item_slug %>
        </div>

        <div class="field">
          Головна картинка..
          <%= form.file_field :avatar %>
        </div>

        <div class="field">
          <%= form.label :metatitle %>
          <%= form.text_field :metatitle, id: :item_metatitle, required: true %>
        </div>

        <div class="field">
          <%= form.label :metadescription %>
          <%= form.text_field :metadescription, id: :item_metadescription, required: true %>
        </div>

        <div class="field">
          <%= form.label :metakeywords %>
          <%= form.text_field :metakeywords, id: :item_metakeywords, required: true %>
        </div>

        <div class="field">
          Ціна товару:
          <%= form.label :price %>
          <%= form.number_field :price, id: :item_price, required: true %>
        </div>

        <div class="field">
          НОВИНКА, ТОП, АКЦІЯ 
          <%= form.select :publish, options_for_select([["БЕЗ РОЗДІЛУ", 0],["НОВИНКА", 1],["АКЦІЯ", 2],["ТОП", 3]]), multiple: true %>
        </div>

        <div class="field">
          Кількість
          <%= form.number_field :quantity, id: :item_quantity, required: true %>
        </div>


        <%= form_for @item do |f| %>
        <%= f.fields_for :photos do |h| %>
        <%= h.file_field :avatar %>
        <% end %>
        <% end %>

        <div class="actions">
          <%= form.submit %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
