<%= form_with(model: item, local: true) do |form| %>
<% if item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>









<form class="form-sample">
  <p class="card-description">
    Первичная информация:
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Назва:</label>
        <div class="col-sm-9">
          <%= form.text_field :title, id: :item_title, class: "form-control", placeholder: "Назва товару", required: true %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Категорія:</label>
        <div class="col-sm-9">
          <%= form.collection_select :category_id, Category.where(@category_id), :id, :title, class: "form-control" %>

        </div>
      </div>
    </div>
    <div class="col-md-6"> 
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">SKU:</label>
        <div class="col-sm-9">
          <%= form.text_field :sku, id: :item_sku, class: "form-control", placeholder: "Разноробочий", required: true %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Аватар:</label>
        <div class="col-sm-9">
          <%= form.file_field :avatar %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Кількість:</label>
        <div class="col-sm-9">
          <%= form.number_field :quantity, id: :item_quantity, class: "form-control", placeholder: "Разноробочий", required: true %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Ціна:</label>
        <div class="col-sm-9">
          <%= form.number_field :price, class: "form-control", placeholder: "Разноробочий", required: true %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Тип акції:</label>
        <div class="col-sm-9">
          <%= form.number_field :publish, class: "form-control", placeholder: "Разноробочий", required: true %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Опис:</label>
        <div class="col-sm-9">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Опис:</label>
        <div class="col-sm-9">
          <%= form.select :onmain, options_for_select([["Не добавлять", false],["Додати на головну", true]], selected: @item.onmain), {}, {  class: 'form-control'}  %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Дата создания:</label>
        <div class="col-sm-9">
          <div class="date-picker">
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="card-description">
   Характеристики товару
  </p>
  <div class="row">
    <div class="col-md-12">
      <%= form.cktext_area :body, id: :post_body, :class => 'anyclas', :ckeditor => {:language => 'uk', :uiColor => '#AADC6E', :toolbar => 'mini'} %>
    </div>
  </div>
  <p class="card-description">
  <p>Опис товару</p>
 </p>

 <div class="row">
  <div class="col-md-12">
    <%= form.cktext_area :description, id: :post_description, :class => 'anyclas', :ckeditor => {:language => 'uk', :uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <%= form.fields_for :photos do |h| %>
    <%= h.file_field :avatar %>
    <% end %>

  </div>
</div>
<br>
<%= form.submit class: "btn btn-success mr-2", value: "Обновить"%>
</form>
<% end %>


