<% content_for :head do %>
<title><%= @item.metatitle %></title>

<meta name="description" content="<%= @item.metadescription %>" />
<meta name="keywords" content= "<%= @item.metakeywords %>" />
<meta property="og:image" content="<%= @item.avatar %>" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | <%= @item.metatitle %>">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Прагнемо до революційних змін. Від маленького магазину аксесуарів до мотопорталу MOTOPROSTIR UKRAINE">
<meta property="og:image" content="<%= @item.avatar %>">
<meta property="og:type" content="website">

<% end %>

<% if notice == nil %>
<% else %>
<div id="notice_wrapper">
  <%= @item.title %><%= notice %>
</div>
<% end %>

<!--

 <% @item.photos.each do |variant| %>
    <label>
      <input type="radio" name="variant_id" value="<%= variant.id %>" /><%= variant.id %>
    </label>
  <% end %>
-->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="breadcrums">

        <% @item.category.ancestors.each do |category| %>
        <%= link_to category.title, category %> | 
        <% end %>
        <%= link_to @item.category.title, @item.category %>  

      </div>
    </div>
    <div class="col-lg-8">
      <div class="item-show-title">
        <%# truncate(@item.title, length: 70) %> <p id="not"><%# notice %></p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="gallery">
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="native" data-autoplay="3000">
          <%= render @item.photos %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <p class="item-show-title"><%= truncate(@item.title, length: 55) %></p>
      <p class="item-sku">SKU: <%= @item.sku %></p>

     <!--
      <p class="item-review">
       <% link_to 'Читати відгуки', '#review-leave' %> (<%= @item.reviews.where(status: 1).count %>) | <%= link_to 'Залишити відгук',  '#review-leave' %> 
     </p>
   -->
   <% if @item.quantity == 0 %>
   <p>Під замовлення (10-14 днів)</p>
   <% elsif @item.quantity < 3 %>
   <p class="item-quantity-one">Товар закінчується</p>
   <% elsif @item.quantity >= 3 %>
   <p class="item-quantity-two">В наявності</p>
   <% end %>
   <p class="item-price">Ціна: <span><%= number_to_currency(@item.price) %></span></p>
<!--
     <p class="item-color">Цвет: Black/Red/White</p>
     <p class="item-size">Size: Y T H M D</p>
   -->
   <div class="buttons-cart">
     <%= button_to 'Додати до кошика', line_products_path(item_id: @item), class: 'btn btn-warning' %> 

     <!-- Button trigger modal -->
     <button type="button" class="one-click-button" data-toggle="modal" data-target="#exampleModal">
      Придбати в один клік
    </button>
  </div>

  <p>Заповніть форму для швидкого оформлення і наш менеджер вам перетелефонує.</p>

  <div class="item-description">
   <p>
     <% if @item.body.nil? %>
     Чекайте на детальну інформацію найближчим часом
     <% else %>
     <%= @item.body.html_safe %>
     <% end %>
   </p>
 </div>
</div>

<div class="col-lg-12">
  <div class="item-description">
   <%= @item.description.html_safe %>
 </div>
</div>
</div>
</div>




<% if admin_signed_in?  %>
<%= render 'photos/form' %>
<br>
<div class="container">
  <div class="row">


    <% @item.photos.each do |photo|%>
    <div class="col-lg-4">
      <%= image_tag photo.avatar.url %>
      <br>
      <br>
      <%= link_to 'Видалити', [photo.item, photo], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Форма швидкого замовлення</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="coop-form">
          <p>Деякі відомості про Вас:</p>
          <%= form_for @fastorder do |f| %>
          <%= f.text_field :name, required: true, placeholder: "Ваше ПІБ" %>
          <%= f.text_field :phone, required: true, placeholder: "Номер телефону" %>
          <%= f.text_field :link, value: @item.title, class: "hidden"  %>
          <%= f.text_area :comment, required: true, placeholder: "Короткий коментар", value: "Я хочу придбати " + @item.title%>
          <%=f.submit 'Придбати в один клік', class: "btn btn-primary"  %>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>