<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<form class="form-sample">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Назва:</label>
        <div class="col-sm-9">
          <%= form.text_field :title, id: :post_title, class: "form-control", placeholder: "Назва статті", required: true %>
        </div>
      </div>
    </div>
    <!--
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label">Категорії:</label>
        <div class="col-sm-9">
          <%# for section in Section.all %>
          <div>
            <%# check_box_tag "post[section_ids][]", section.id, @post.sections.include?(section) %>
            <%# section.title %>
          </div>
          <%# end %>
          <%# collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>
        </div>
      </div>
    </div>
  -->
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Дата подачі:</label>
      <div class="col-sm-9">
        <%= form.date_select :datetime %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Аватар:</label>
      <div class="col-sm-9">
        <%= form.file_field :avatar  %>
      </div>
    </div>
  </div>
</div>
<p class="card-description">
 SEO оптимізація:
</p>
<div class="row">
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meта-тайтл:</label>
      <div class="col-sm-9">
        <%= form.text_field :metatitle, id: :item_metatitle, class: "form-control", placeholder: "Мета тайтл", required: true %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meта-ключі:</label>
      <div class="col-sm-9">
        <%= form.text_field :metakeywords, id: :item_metakeywords, class: "form-control", placeholder: "Мета тайтл", required: true %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Meта-опис:</label>
      <div class="col-sm-9">
        <%= form.text_field :metadescription, id: :item_metadescription, class: "form-control", placeholder: "Мета опис", required: true %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= form.text_area :body %>
  </div>
</div>
<p class="card-description">
<p>Текст статті</p>
</p>
<div class="row">
  <div class="col-md-12">
    <%= form.cktext_area :description, id: :post_description, :class => 'anyclas', :ckeditor => {:language => 'uk', :uiColor => '#AADC6E', :toolbar => 'mini'} %>
  </div>
</div>
<br>
<%= form.submit class: "btn btn-success mr-2", value: "Обновить"%>
</form>
<% end %>