<%= form_with(model: post, local: true) do |form| %>
<% if post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title, id: :post_name %>
</div>

<div class="field">
  <%= form.label :metatitle %>
  <%= form.text_field :metatitle, id: :post_metatitle %>
</div>

<div class="field">
  <%= form.label :metakeywords %>
  <%= form.text_field :metakeywords, id: :post_metakeywords %>
</div>

<div class="field">
  <%= form.label :metadescription %>
  <%= form.text_field :metadescription, id: :post_metadescription %>
</div>

<div class="field">
  <%= form.label :body %>
  <%= form.text_area :body, id: :post_body %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.cktext_area :description, id: :post_description, :class => 'anyclas', :ckeditor => {:language => 'uk', :uiColor => '#AADC6E', :toolbar => 'mini'} %>
</div>

<div class="field">
  <%= form.datetime_select :datetime %>
</div>

<div class="field">
  <%= form.file_field :avatar  %>
</div>

----
<div class="field">
<% for section in Section.all %>
  <div>
    <%= check_box_tag "post[section_ids][]", section.id, @post.sections.include?(section) %>
    <%= section.title %>
  </div>
  <% end %>
</div>

#    <%# collection_check_boxes(:product, :category_ids, Category.all, :id, :name) %>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>



