<% content_for :head do %>
<title>Мото новинки, подорожі, огляди та багато іншого на MOTOPROSTIR | Україна</title>

<meta name="description" content="Огляд мото аксесуарів, цікавий мото блог, подорожі по Україні та закордон. Поради які можуть знадобитися в подорожі." />
<meta name="keywords" content= "Блог, новини, огляди, мото огляди, мото аксесуари, мото новини, цікаві історії" />
<meta property="og:image" content="http://206.81.30.164/assets/ready-3f10a5ec5563675f257242d83c9acd26d761a6685eabdf63de54c870a69372af.jpg" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | Придбати мото аксесуари: ціна, відуги, продаж.">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Прагнемо до революційних змін. Від маленького магазину аксесуарів до мотопорталу MOTOPROSTIR UKRAINE">
<meta property="og:image" content="http://206.81.30.164/assets/logo-m-76831c3b6528fc0d5d2dc2e2584ef1037ad03517f24dea8b9aea9425d0d7b5ea.png">
<meta property="og:type" content="website">
<% end %>

<!--
<div class="post-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Пошук деталей закордоном</h1>
        <p>Обирай модель свого мотоциклу, та отримуй пропозиції вживаних деталей із-за кордону</p>
      </div>
    </div>
  </div>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="trigger-center">
        <h1>Ми <span>ЗАКОХАНІ В МАНДРИ</span></h1>
      </div>
    </div>
    <% @posts.each do |post| %>
    <div class="col-lg-4">
      <%= link_to (image_tag post.avatar.url), post %>
      <p class="post-title"><%= link_to post.title, post %></p>
      <p class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maiores quo! Distinctio consectetur dolore animi repudiandae molestias 
      </p>
      <p>
        Опубліковано: <%= post.datetime.strftime("%d.%m.%Y") %> | 
        <i class="fa fa-eye" aria-hidden="true"></i> <%= "#{post.impressionist_count} перегляди" %>
      </p>
    </div>
    <% end %>
  </div>
</div>
</div>

<!--
<div class="container">
  <% @posts.each do |post| %>
  <div class="posts-list">
    <div class="row">

      <div class="col-lg-4">
        <%= image_tag post.avatar.url %>
        <p><%= post.title %></p>
      </div>
      <div class="col-lg-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, maiores quo! Distinctio consectetur dolore animi repudiandae molestias itaque, quibusdam placeat inventore necessitatibus, vel veritatis ullam dolor esse fugiat ratione natus. Perspiciatis quos reiciendis ratione assumenda voluptatibus ipsam rem quibusdam obcaecati at laboriosam dolorem ex hic delectus, repellat facere error aliquam.
      </div>
      <div class="col-lg-2">
        <button>Click me!</button>
      </div>
    </div>
  </div>
  <% end %>
</div>
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.slug %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
-->
