<% content_for :head do %>
<title>Мото новинки, подорожі, огляди та багато іншого на MOTOPROSTIR | Україна</title>

<meta name="description" content="Огляд мото аксесуарів, цікавий мото блог, подорожі по Україні та закордон. Поради які можуть знадобитися в подорожі." />
<meta name="keywords" content= "Блог, новини, огляди, мото огляди, мото аксесуари, мото новини, цікаві історії" />
<meta property="og:image" content="http://206.81.30.164/assets/ready-3f10a5ec5563675f257242d83c9acd26d761a6685eabdf63de54c870a69372af.jpg" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | Придбати мото аксесуари: ціна, відуги, продаж.">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Прагнемо до революційних змін. Від маленького магазину аксесуарів до мотопорталу MOTOPROSTIR UKRAINE">
<meta property="og:image" content="http://206.81.30.164/assets/logo-m-76831c3b6528fc0d5d2dc2e2584ef1037ad03517f24dea8b9aea9425d0d7b5ea.png">
<meta property="og:type" content="website">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="trigger-center">
        <h1>Ми <span>ЗАКОХАНІ В МАНДРИ</span></h1>
      </div>
    </div>
    
    <% if @posts.count > 0 %>

    <% @posts.each do |post| %>
    <div class="col-lg-4">
      <%= link_to (image_tag post.avatar.url), post %>
      <p class="post-title"><%= link_to post.title, post %></p>
      <p class="post-body">
        <%= truncate(post.body, length: 90) %>
      </p>
      <p>
        Опубліковано: <%= post.datetime.strftime("%d.%m.%Y") %> | 
        <i class="fa fa-eye" aria-hidden="true"></i> <%= "#{post.impressionist_count} перегляди" %>
      </p>
    </div>
    <% end %>
    <% else %>
    <div class="col-lg-12">
      <div class="trigger-center">
        <h4>
          Розділ ще формується, скоро все-все буде, контент-менеджер дуже старається..
        </h4>
      </div>
      <%= image_tag 'tired.jpg'  %>
    </div>
    <% end %>
  </div>
</div>
</div>