<% content_for :head do %>
<title><%= @category.metatitle %></title>

<meta name="description" content="<%= @category.metdescription %>" />
<meta name="keywords" content= "<%= @category.metakeywords %>" />
<meta property="og:image" content="<%= @category.avatar %>" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | <%= @category.metatitle %>">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Магазин аксесуарів для мототехніки та подорожей MOTOPROSTIR | UKRAINE">
<meta property="og:image" content="<%= @category.avatar %>">
<meta property="og:type" content="website">

<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="breadcrums-category">
        <% @category.ancestors.each do |category| %>
        <%= link_to category.title, category %> | 
        <% end %>
        <%= link_to @category.title, @category %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="trigger-category">
        <h1><%= @category.title %></h1>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="left-sidebar">
        <p>Категорії товарів:</p>
        <ul>
          <% Category.roots.order(title: :asc).each do |category| %>
          <% if current_page? (category_path(category)) %>
          <li class="active-c">
            <% else %>
            <li style="background-color: #f1f1f1">
              <% end %>
              <%= link_to category.title, category %>
              <%= render "components/submenu_categories", categories: category.root.descendants.arrange %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="row">
          <% @category.children.order(:title).each do |category| %>
          <div class="col-lg-4">
            <%= link_to (category) do %>
            <%= image_tag category.avatar.url %>
            <p id="category-link"><%= category.title %></p>
            <% end %>
          </div>
          <% end %> 
        </div>
        <div class="row">
          <% @items.each do |item| %>
          <div class="col-lg-4">
            <div class="item-info">
              <%= link_to (image_tag item.avatar.url), item, title: item.title %>
              <% if item.publish == 1 %>
              <span class="hot">Новинка</span>
              <% elsif item.publish == 2 %>
              <span class="discount">Акція</span>
              <% elsif item.publish == 3 %>
              <span class="sale">Топ</span>
              <% end %>
              <p class="item-title"><%= link_to truncate(item.title, length: 50), item, title: item.title %></p>
              <% if item.quantity == 0 %>
              <p class="item-quantity-none" title="(10-14 днів)">Під замовлення</p>
              <% elsif item.quantity < 3 %>
              <p class="item-quantity-one">Закінчується</p>
              <% elsif item.quantity >= 3 %>
              <p class="item-quantity-two">В наявності</p>
              <% end %>
              <p class="item-price">Ціна: <%= number_to_currency(item.price) %></p>
              <%= button_to 'Додати до кошика', line_products_path(item_id: item), class: 'btn btn-warning', title: 'Додати до кошика'%>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>