<% content_for :head do %>
<title><%= @category.metatitle %></title>

<meta name="description" content="<%= @category.metdescription %>" />
<meta name="keywords" content= "<%= @category.metakeywords %>" />
<meta property="og:image" content="<%= @category.avatar %>" />

<link rel="canonical" href="https://motoprostir.com.ua/" itemprop="url">

<meta property="og:site_name" content="motoprostir.com.ua | <%= @category.metatitle %>">
<meta property="og:url" content="https://motoprostir.com.ua/">
<meta property="og:description" content="Магазин аксесуарів для мототехніки та подорожей MOTOPROSTIR | UKRAINE">
<meta property="og:image" content="<%= @category.avatar %>">
<meta property="og:type" content="website">

<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="breadcrums-category">
        <% @category.ancestors.each do |category| %>
        <%= link_to category.title, category %> | 
        <% end %>
        <%= link_to @category.title, @category %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="trigger-category">
        <h1><%= @category.title %></h1>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="left-sidebar">
        <p>Категорії товарів:</p>
        <ul>
          <% Category.roots.each do |category| %>
          <% if current_page? (category_path(category)) %>
          <li class="active-c">
            <% else %>
            <li style="background-color: #f1f1f1">
              <% end %>
              <%= link_to category.title, category %>
              <%= render "components/submenu_categories", categories: category.root.descendants.arrange %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="col-lg-9 col-md-8">

        <div class="row">
          <% @category.children.order(:title).each do |category| %>
          <div class="col-lg-4">
            <%= link_to (category) do %>
            <%= image_tag category.avatar.url %>
            <p id="category-link"><%= category.title %></p>
            <% end %>
          </div>
          <% end %> 
        </div>

        <div class="row">
          <% @items.each do |item| %>
          <div class="col-lg-4">
            <div class="item-info">
              <%= link_to (image_tag item.avatar.url), item, title: item.title %>
              <% if item.publish == 1 %>
              <span class="hot">Новинка</span>
              <% elsif item.publish == 2 %>
              <span class="discount">Акція</span>
              <% elsif item.publish == 3 %>
              <span class="sale">Топ</span>
              <% end %>
              <p class="item-title"><%= link_to truncate(item.title, length: 50), item, title: item.title %></p>
              <p class="item-quantity">Наявність: <%= item.quantity %></p>
              <p class="item-price">Ціна: <%= item.price %> грн</p>
            <!--
            <p class="item-title"><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></p>
          -->
          <%= button_to 'Додати до кошика', line_products_path(item_id: item), class: 'btn btn-warning', title: 'Додати до кошика'%>

        </div>
      </div>
      <% end %>


  <style>
    .item-info {
      display:inline-block;   
      position:relative;
      margin-top: 20px;

    }
    .hot {
      display:inline-block;
      position:absolute;
      top: -15px;   
      right: 59px;

      /* Оформление текста */
      color:#FFF;
      font-family:Arial, Helvetica, sans-serif;
      font-size:15px;
      text-transform: uppercase; 

      /* Фон */
      background-color: green;
      padding:5px 30px;
    }

    .sale {
     display:inline-block;
     position:absolute;
     top: -15px;   
     right: 59px;
     width: 132px;

     /* Оформление текста */
     color:#FFF;
     font-family:Arial, Helvetica, sans-serif;
     font-size:15px;
     text-transform: uppercase; 

     /* Фон */
     background-color: gold;
     padding:5px 30px;
   }

   .discount {
     display:inline-block;
     position:absolute;
     top: -15px;   
     right: 59px;
     width: 132px;

     /* Оформление текста */
     color:#FFF;
     font-family:Arial, Helvetica, sans-serif;
     font-size:15px;
     text-transform: uppercase; 

     /* Фон */
     background-color: red;
     padding:5px 30px;
   }
 </style>


</div>

</div>
</div>
</div>