<!DOCTYPE html>
<html>
<head>
	<%= yield :head %>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application', async: true %>
	<%= favicon_link_tag 'favicon.png' %>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="https://motoprostir.com.ua"/>
	<link href="/assets/images/favicon.png" rel="apple-touch-icon">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125805526-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-125805526-1');
	</script>

	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script> 
</head>

<body>
	<%= render 'components/top' %>
	<%= render 'components/header' %>
	<%= yield %>
	<%= render 'components/footer' %>

	<script>
		$(document).ready(function(){
			setTimeout(function(){
				$('#notice_wrapper').fadeOut("slow", function(){
					$(this).remove();
				})
			}, 3500);
		});
	</script>
</body>
</html>